absl-py==1.0.0
asgiref==3.4.1
attrs==21.2.0
backports.zoneinfo==0.2.1
dataclasses==0.6
Django==4.0
joblib==1.1.0
mediapipe==0.8.3
numpy==1.19.3
opencv-python==4.5.4.60
Pillow==8.4.0
protobuf==3.19.1
python-decouple==3.5
scikit-learn==1.0.1
scipy==1.7.3
six==1.16.0
sqlparse==0.4.2
threadpoolctl==3.0.0
tzdata==2021.5
